# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ACARI_LEFT

config ZMK_KEYBOARD_NAME
	default "acari"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ACARI_LEFT || SHIELD_ACARI_RIGHT

config ZMK_SPLIT
	default y

endif
