# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ACARI_LEFT
	def_bool $(shields_list_contains,acari_left)

config SHIELD_ACARI_RIGHT
	def_bool $(shields_list_contains,acari_right)
