# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY=y
config SHIELD_ACARI_LEFT
	def_bool $(shields_list_contains,acari_left)

config SHIELD_ACARI_RIGHT
	def_bool $(shields_list_contains,acari_right)
